#
# LGE touch core configuration
#
if INPUT_TOUCHSCREEN

source "drivers/input/touchscreen/lge/ilitek/ILI9881H/Kconfig"
source "drivers/input/touchscreen/lge/ilitek/ILI9881X/Kconfig"
source "drivers/input/touchscreen/lge/ilitek/ILI7807G/Kconfig"
source "drivers/input/touchscreen/lge/ilitek/ILI9882N/Kconfig"
endif
